.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

@media (width>= 50.625em) {
  .header {
    padding-block: 24px;
  }
}
.logo {
  width: 4.955625rem;
}
@media (width>= 75em) {
  .logo {
    width: 6.9375rem;
  }
}
